.speech-wrapper {
    padding: 5px 5px;
}

.speech-wrapper:after {
    content: '';
    display: block;
    clear: both;
}

.speech-supported:after {
    content: "Speech is supported";
    color: blue;
}

.speech-unavailable:after {
    content: "Speech isn't supported";
    color: red;
}

input.imcms-speech-recognition {
    height: 50px;
    top: 0;
    float: left;
}

.imcms-speech-recognition {
    float: left;
}

.speech-button {
    margin-left: 10px;
    height: 50px;
    width: 50px;
    float: left;
}

.speech-button--disabled {
    background: url(/images/mic.gif) no-repeat;
}

.speech-button--enabled {
    background: url(/images/mic-animate.gif) no-repeat;
}

.speech-message {
    clear: both;
    color: red;
    font-size: 200%;
}

